[
  { rabbit, [
    { tcp_listeners, [ 5672 ] },
    { ssl_listeners, [] },
    { loopback_users, [] },
    { reverse_dns_lookups, true },
    { tcp_listen_options, [
      { nodelay, true },
      { exit_on_close, false }
    ]},
    { hipe_compile, true },
    { default_consumer_prefetch,  {false, 2} },
    { fhc_read_buffering, true }
  ]},
  { kernel, [
    { net_ticktime, 60 },
    { inet_default_connect_options, [{ nodelay, true}] },
    { inet_default_listen_options, [{ nodelay, true}] }
  ]},
  { rabbitmq_management, [
    { load_definitions, "/etc/rabbitmq/definitions.json" },
    { listener, [
      { port, 15672 },
      { ssl, false }
    ]},
    { rates_mode, detailed }
  ]}
].